#header {
    font-size: xx-large;
    color: pink;
    text-align: center;
}
#search {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 200px;
    float: left;
}
#results {
    width: 700px;
    float: left;
    border-style: solid;
    padding-left: 25px;
}
#temp {
    margin-left: 25px;
    margin-bottom: 25px;
}
#forecast, #pForecast {
    margin-left: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    width: 90%;
}
.dayBox {
    width: 35%;
}
.dayBox img{
    width: 90%;
}
.uvi span {
    padding: 0.3 0.7;
    display: inline-block;
}
.severe {
    color: white;
    background-color: red;
}
.moderate {
    background-color: yellow;
}
.favorable {
    background-color: #090;
}
#historyRow {
    width: 250px;
    float: left;
}
#actionRow {
    width: 1200px;
    float: left;
}
#historyRow, a {
    display: block;
    padding: 0.5, 1;
}